.search-input {
    position:relative;
}

.search-input .fa {
    position: absolute;
    top: 12px;
    left: 24px;
}

.search-input input {
    width: 100%;
    height: 38px;
    padding-left: 30px;
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -ms-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    border:1px solid #feb1e4;
}

.search-input input:focus {
    outline: none !important;
    border:2px solid #feb1e4;
    box-shadow: 0 0 15px #feb1e4;
}

.search-response {
    position: absolute;
    left: 15px;
    right: 15px;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: 400px;
    overflow-y: scroll;
}

.search-response li {
    border:1px solid #feb1e4;
    padding: 8px;
    background-color: #FFF8FD;
}

.search-response li:hover {
    background-color: #FFABE7;
}

