@import 'https://fonts.googleapis.com/css?family=Quicksand';
@import 'https://fonts.googleapis.com/css?family=Lato';

body, p, h1, h2, h3, h4, h5, span, b, i, a {
    font-family: 'Quicksand', sans-serif;
}

body {
    -webkit-background-size: auto!important;
    background-size: auto!important;
}

.search-group div {
    padding: 0;
}

.search-group {
    margin-left: 0!important;
    margin-right: 0!important;
}

.search-input {
    position:relative;
}

.search-input .fa {
    position: absolute;
    top: 12px;
    left: 12px;
}

.search-input input {
    width: 100%;
    height: 38px;
    padding-left: 30px;
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -ms-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    border:1px solid #feb1e4;
}

.search-input input:focus {
    outline: none !important;
    border:2px solid #feb1e4;
    box-shadow: 0 0 15px #feb1e4;
}

.search-response {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: 300px;
    overflow-y: scroll;
    z-index: 9999;
}

.search-response li {
    border:1px solid #feb1e4;
    padding: 8px;
    background-color: #FFF8FD;
}

.search-response li:hover {
    background-color: #feb1e4;
}

.search-button {
    margin: 2px 2px 2px 2px;
    width: 98%;
    height: 34px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #fff;
    background-color: #feb1e4;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    padding-top: 4px;
    border: 2px dashed white;
    box-shadow: 0 0 0 2px #feb1e4;
    -webkit-transition: background-color 0.4s, box-shadow 0.4s;
    -moz-transition: background-color 0.4s, box-shadow 0.4s;
    -ms-transition: background-color 0.4s, box-shadow 0.4s;
    -o-transition: background-color 0.4s, box-shadow 0.4s;
    transition: background-color 0.4s, box-shadow 0.4s;
}

.search-button:hover {
    text-decoration: none;
    color: #fff;
    background-color: #ff7fb8;
    box-shadow: 0 0 0 2px #ff7fb8;

}

.search-categories {
    margin: 2px 2px 2px 2px;
    width: 98%;
    height: 34px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #fff;
    background-color: #feb1e4;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 2px dashed white;
    box-shadow: 0 0 0 2px #feb1e4;
    -webkit-transition: background-color 0.4s, box-shadow 0.4s;
    -moz-transition: background-color 0.4s, box-shadow 0.4s;
    -ms-transition: background-color 0.4s, box-shadow 0.4s;
    -o-transition: background-color 0.4s, box-shadow 0.4s;
    transition: background-color 0.4s, box-shadow 0.4s;
}

.search-categories:hover {
    text-decoration: none;
    color: #fff;
    background-color: #ff7fb8;
    box-shadow: 0 0 0 2px #ff7fb8;
    cursor:hand;
}

.search-categories p {
    padding-top: 2px;
}

.search-categories p i {
    padding-top: 2px;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    vertical-align: middle;
}

.search-categories.open p i {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#main-page-slider {
    max-height: 300px;
}

#main-page-slider .item {
    max-height: 300px;
}

.promotional-row {
    height: 250px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.promotional-row .col-xs-6 {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.promotional-row .col-xs-4 {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.promotional-row .col-xs-6:first-child {
    padding-left: 0;
}

.promotional-row .col-xs-6:last-child {
    padding-right: 0;
}

.promotional-row .col-xs-4:first-child {
    padding-left: 0;
}

.promotional-row .col-xs-4:last-child {
    padding-right: 0;
}

.promotional-row .promotional-content {
    background-color: #feb1e4;
    height: 100%;
}

#facebook-link {
    background-color: #3b5998;

}

.promotional-content {
    align-content: center;
    text-align: center;
}

.promotional-content img {
    height: 100%;
}

.products-list {

}

.search-product {
    padding: 7.5px;
    margin-top: 7.5px;
    background-color: #ffd8f4;
    height: 130px;
    border: 1px solid #ffabe7;
}

.search-product .product-image {
    align-content: center;
    text-align: center;
    background-color: white;
    border: 1px solid #ffabe7;
    padding: 0;
}

.search-product img {
    height: 100%;
    max-width: 100%;
}

.marginless {
    margin-left: 0!important;
    margin-right: 0!important;
}

.button {
    width: 140px;
    height: 38px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #fff;
    background-color: #feb1e4;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    padding-top: 4px;
    border: 2px dashed white;
    box-shadow: 0 0 0 2px #feb1e4;
    -webkit-transition: background-color 0.4s, box-shadow 0.4s;
    -moz-transition: background-color 0.4s, box-shadow 0.4s;
    -ms-transition: background-color 0.4s, box-shadow 0.4s;
    -o-transition: background-color 0.4s, box-shadow 0.4s;
    transition: background-color 0.4s, box-shadow 0.4s;
    position: absolute;
    bottom: 0;
    right: 0;
}

.button:hover {
    text-decoration: none;
    color: #fff;
    background-color: #ff7fb8;
    box-shadow: 0 0 0 2px #ff7fb8;

}

.product-title {
    font-family: 'Lato', sans-serif;
    margin-top: 0;
    font-size: x-large;
}

.product-cost {
    font-family: 'Lato', sans-serif;
    margin-top: 0;
    font-size: xx-large;
    font-weight: bold;
}

.product-price {
    position: relative;
    height: 100%;
}

.product-description {
    height: 100%;
    overflow-y: scroll;
}

.product-description::-webkit-scrollbar {
    display: none;
}